.sidebar {
  width: 250px;
  background: linear-gradient(-45deg, #012161, #000214, #000d63, #000000);
  background-size: 400% 400%;
  animation: swoosh 15s ease-in-out infinite; 
  color: #f9fafb;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  position: fixed; // Always an overlay
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;

  &.closed {
    transform: translateX(-100%); // Hides the sidebar content off-screen

    .sidebarToggleContainer {
      transform: translateX(100%); // Moves the button back into view
    }
  }

  .sidebarToggleContainer {
    display: flex;
    padding: 1rem;
  }

  .hamburgerButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: #f9fafb;
      border-radius: 3px;
      transition: all 0.3s ease-in-out;
    }
  }

  .sidebarContent {
    transition: opacity 0.2s ease;
    flex-grow: 1;
  }
  .sidebarHeader {
    padding: 1.25rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .sidebarNav {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;

    a {
      color: #d1d5db;
      text-decoration: none;
      padding: 1rem 1.5rem;
      transition: background-color 0.2s ease, color 0.2s ease;

      &:hover {
        background-color: #374151;
        color: #ffffff;
      }
    }
  }
}

.sidebarFooter {
  margin-top: auto;
  padding: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.signOutButton {
  width: 100%;
  background-color: rgba(239, 68, 68, 0.053);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500; 
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background: linear-gradient(-45deg, #ab500163, #f90202);
    color: white;
    }
  }
  
  @media (max-width: 768px) {
    .sidebar {
      &.open {
        width: 100%;
        // Add background overlay to dim the main content
        &::before {
          content: '';
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: -1; // Place it behind the sidebar but over the content
        }
      }
    }
  
    .mainContent.sidebar-open {
      margin-left: 0; // Prevent content from shifting
    }
  }
  